.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 48px calc(50% - 590px);
  display: flex;
  gap: 40px;
  height: 100%;
  padding-bottom: 114px;
}
.mainImg {
  width: 520px;
  height: 520px;
  border-radius: 4px;
  padding-bottom: 10px;
}
.containerImg {
  display: flex;
  gap: 20px;
}

.img {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}
.img:first-child {
  border: 3px solid #c4c4c4;
}

.blockProductRight {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  color: #444b58;
}
.topProduct {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 56px;
}
.rating {
  display: flex;
  justify-content: space-between;
}
.ratingText {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #646464;
}
.productLimitation {
  border-width: 1px 0;
  border-style: solid;
  border-color: #c4c4c4;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #f14f4f;
  padding-top: 12px;
  padding-bottom: 12px;
}
.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.termBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.termItem {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #646464;
}
.priceBlockProduct {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 6px;
  background: #0000000a;
}

.priceContent {
  display: flex;
  gap: 24px;
  padding: 0 20px;
}
.priceDiscount {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  color: #444b58;
  margin-bottom: 2px;
}
.price {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #646464;
  text-decoration: line-through;
}
.verticalLine {
  height: 100%;
  border-left: 1px solid #d5d5d5;
}
.textDiscount {
  margin-top: 19px;
}
.spanPrice {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #444b58;
}
.priceButton {
  padding: 20px 50px 20px 50px;
  border-radius: 4px;
  background: #f14f4f;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
}
