.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20vh;
}
.image {
  width: auto;
  height: 280px;
}
.title {
  font-size: 160px;
}
.heading {
  font-size: 40px;
  margin-bottom: 20px;
}
.text {
  font-size: 18px;
  line-height: 133%;
  color: #4e4e4e;
  margin-bottom: 20px;
}
.button {
  width: 177px;
  height: 62px;
  padding: 10px;
  border-radius: 4px;
  background: #f14f4f;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  transition: background 0.3s;
}
.button:hover {
  background: #8c2828;
}
