.containerAccordion {
  background-color: #484283;
}

.accordion {
  padding: 60px calc(50% - 440px);
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.headingFqa {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}
.item {
  border-bottom: 1px solid #ffffff;
  padding: 30px 0 20px 0;
  overflow: hidden;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question span {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.toggle {
  background-color: transparent;
  cursor: pointer;
}

.plusRotate {
  transform: rotate(45deg);
  transition: transform 0.5s;
}
.answer {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  transition: height 0.5s;
}
